---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    {% include nav.html %}

    <div class="container">

        <div style="height:25vh"></div>
        <div class="center">
            <h1>About </h1>

        </div>

        <div class="restrictedwidth">
            <p>This is a webapp built by <a href="https://retrylife.ca">Evan Pratten</a> as an alternative to the
                Official TVDSB <a href="https://schoolapps2.tvdsb.ca/students/student_login/lgn.aspx">Student Portal</a>
            </p>
            <p>All personal info is kept safe while using the app, as long as you are connected with a secure and
                trustworthy internet connection (an obfuscated version of your login info may be visible to attachers on
                an insecure network). Your login token and all info displayed in the <a href="/studentinfo">My
                    Information</a> page
                are the only things stored anywhere. This info is kept in your browser's cookies, and cleared when you
                log out. No information is logged on my API server ever (and all data on the server is wiped every few
                hours)</p>
        </div>
</body>

</html>