---
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>

    {% include nav.html %}

    <div class="container">

        <div style="height:25vh"></div>
        <div class="center">
            <h1>Marks</h1>
            <p>Here is your mark history:</p>
        </div>

        <div id="marks">
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>

    </div>

    {% include foot.html %}

    <!-- Auth redirect handler -->
    <script src="/assets/js/cookies.js"></script>
    <script src="/assets/js/navbar.js"></script>
    <script>
        if (!cookieExists("auth_token")) {
            console.log("Redirecting to login page");
            document.location = "/login";
        }
    </script>

    <!-- Build tables for courses -->
    <script src="/assets/js/marks.js"></script>
    <script>

        // Get marks data
        getMarks((data) => {

            // Build all tables
            var html = ""
            Object.keys(data.marks).reverse().forEach((year) => {
                // Add to the marks list
                html += generateEntireYear(year, data.marks[year]);
            })

            // Set the content div to contain the HTML
            document.getElementById("marks").innerHTML = html;
        })
    </script>


</body>

</html>